#countries{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
} 
.country{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding:20px;
    text-align:center;
    width:350px;
    
}

.countryName{
    font-size: 50px;
    color: magenta;
}
.capitalName{
    font-size:20px;
}

#countryDetail img{
    width:350px;
}